.App {
  text-align: center;
}

.AppHeader {
  border: 1px black solid;
  padding: 10px;
  margin: 5px;
}

.Gallery {
  border: 1px black solid;
  margin: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Notice {
  font-size: 10px;
  color: black;
  font-weight: bold;
}
